<!DOCTYPE html>
<html lang="es">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/Styles.css' %}" type="text/css">
    <link rel="stylesheet" href="'{% static 'css/bootstrap.min.css'%}" type="text/css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
   
    <title>Document</title>
</head>
<body>
    <header class="header" >
        <div class="logo">
            <a href="{% url 'index'%}"> <img src="{% static 'img/logo.png'%}" alt="logo de la marca"></a>
           
        </div>
        <nav class="nav-links">
            <ul>
                <li><a href="{% url 'edicion' %}">Servicios</a></li>
                <li><a href="{% url 'cartas' %}">Cartas</a></li>
                <li><a href="#">Eventos</a></li>

            </ul>
        </nav>
        <a href="" class="btn"><button>Iniciar Sesion</button></a>
    </header>

   
   
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="container">
            <div class="form-grup">
                {{form.id_Producto.label}}<br>
                {{form.id_Producto}}<br>
            </div>
            <div class="form-grup">
                {{form.nombre_P.label}}<br>
                {{form.nombre_P}}<br>
            </div>
            <div class="form-grup">
                {{form.descripcion.label}}<br>
                {{form.descripcion}}<br>
            </div>
            <div class="form-grup">
                {{form.imagen.url}}
                {{form.imagen}}<br>
            </div>
            <div class="form-grup">
                

                {{form.precio}}<br>
            </div>
            <div class="form-grup">
                {{form.id_Categoria.label}}<br>
                {{form.id_Categoria}}<br>
            </div>

            <input type="submit" values="enviar" name="enviar">
            <input type="reset" name="borrar" id="borrar">

        </div>
    </form>








    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="{% static 'img/logo.png'%}" class="logo2"   alt="Logo de SLee Dw">
                    </a>
                    
                </figure>
                
            </div>
            <div class="box">
                <h2>SOBRE NOSOTROS</h2>
                <p><a href="{% url 'info'%}" class="info">Quiénes somos?</a></p>
                <p><a href="{% url 'info'%}" class="info">Nuestra Misión</a></p>
                <p><a href="{% url 'info'%}" class="info">Objetivos</a></p>

            </div>
            <div class="box">
                <h2>Síguenos</h2>
                <div class="red-social">
                    <a href="#" class="fa fa-facebook"><i class='bx bxl-facebook-circle'></i></a>
                    <a href="#" class="fa fa-instagram"><i class='bx bxl-instagram'></i></a>
                    <a href="#" class="fa fa-twitter"><i class='bx bxl-whatsapp' ></i></i></a>
                    <a href="#" class="fa fa-youtube"><i class='bx bx-envelope'></i></a>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2023 <b>NVD</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>
</body>
</html>