<!DOCTYPE html>
<html lang="en">

<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/Styles.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/fondo.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/buscador.css' %}" type="text/css">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>
    
    
    <header class="header">
        <div class="logo">
            <img src="{% static 'img/logo.png'%}" alt="logo de la marca">
        </div>
        <form class="form">
            <button>
                <svg width="17" height="16" fill="none" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="search">
                    <path d="M7.667 12.667A5.333 5.333 0 107.667 2a5.333 5.333 0 000 10.667zM14.334 14l-2.9-2.9" stroke="currentColor" stroke-width="1.333" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </button>
            <input class="input" placeholder="Buscador" required="" type="text">
            <button class="reset" type="reset">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>
        </form>
        <nav class="nav-links">
            <ul>
                <li><a href="#">Servicios</a></li>
                <li><a href="{% url 'dana' %}">Cartas</a></li>
                <li><a href="#">Accesorios</a></li>
                <li><a href="#">Eventos</a></li>

            </ul>
        </nav>
        {% if user.is_authenticated %}
        <a href="{% url 'infoU' %}" class="circulo-container">
            <img class="circulo" src="{{user.foto.url}}" alt="Imagen de la persona" height="80px">
        </a>
        {% else %}
            <a href="{% url 'login' %}" class="btn"><button>Iniciar Sesion</button></a>
        {% endif %}



    </header>

    <div class="titulo">
        <h3>Bienvenido {{user.username | upper}} a NVDR store</h3>

    </div>


    

   
    



    <div>
        <a href="{% url 'tipo' tipo_carta=1 %}">
            <img src="{% static 'img/Mitos_y_leyendas.png' %}" alt="">
        </a>


        
    




        <a href="{% url 'tipo' tipo_carta=2 %}">
            <img src="{% static 'img/yu_gi_oh.png' %}" alt="">
        </a>
    </div>











    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="{% url 'index'%}">
                        <img src="{% static 'img/logo.png'%}" class="logo2" alt="Logo de SLee Dw">
                    </a>

                </figure>

            </div>
            <div class="box">
                <h2>SOBRE NOSOTROS</h2>
                <p><a href="{% url 'info'%}" class="info">Quiénes somos?</a></p>
                <p><a href="{% url 'info'%}" class="info">Nuestra Misión</a></p>
                <p><a href="{% url 'info'%}" class="info">Objetivos</a></p>

            </div>
            <div class="box">
                <h2>Síguenos</h2>
                <div class="red-social">
                    <a href="#" class="fa fa-facebook"><i class='bx bxl-facebook-circle'></i></a>
                    <a href="#" class="fa fa-instagram"><i class='bx bxl-instagram'></i></a>
                    <a href="#" class="fa fa-twitter"><i class='bx bxl-whatsapp'></i></i></a>
                    <a href="#" class="fa fa-youtube"><i class='bx bx-envelope'></i></a>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2023 <b>NVDR</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>
    <script>
        var swiper = new Swiper(".mySwiper2", {
            slidesPerView: 1,
            spaceBetween: 50,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            autoplay: {
                delay: 1000, // Cambia cada 3 segundos
            },
        });
    </script>

    <script>
        var swiper = new Swiper(".mySwiper", {
            effect: "coverflow",
            grabCursor: true,
            centeredSlides: true,
            loop: true,
            coverflowEffect: {
                depth: 300,
                spaceBetween: 10
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev"
            },
            breakpoints: {
                // Mostrar 2 diapositivas a la vez en dispositivos móviles
                640: {
                    slidesPerView: 2
                }
            },
            pagination: {
                el: ".swiper-pagination",
                type: "bullets"
            },
            slidesPerView: 1, // Mostrar 2 diapositivas a la vez
            minslidesPerView: 1 // Mostrar al menos 1 diapositiva a la vez

        });
    </script>
</body>

</html>