*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}
.post-list{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 30px 15px;
}
.content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 1000px;
    margin: auto;

}

    
.post-imagen-1{
  width: 400px;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: .2s;
}

.post {
    background-color: rgb(0, 0, 0); 
    border: 1px solid #eae400; /* Cambiado a un color sólido */
    padding: 20px; 
    border-radius: 10px; 
}

.imagenes{
    width: 300px;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;

}

.post:hover .post-imagen-1,
.post:hover .post-imagen-2,
.post:hover .post-imagen-3 {
    transform: scale(1.1);
}

post header{
    width: 100px;
    height: 200px;
    /* overflow:hidden: */
    cursor: pointer;

}

h2{
color: white;

}
.color{
    color: white;
}

span{
    color: white;
}

.url{
    
    padding:1rem;
    text-decoration: none; 
    color: white;
    background-color: blue;
}