
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;;
    font-size: 20px;
}


body{
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: white;


}
.header{
    background-color: #1b3039;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 85px;
    padding: 5px 10%;
    
}
.header .logo{
    cursor: pointer;
    margin-right: auto;

}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-slink{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 14px;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 500;
    color: #eceff1;
    text-decoration: none;

}

.header .nav-links li a:hover{
    color:#ffbc0e    ;

}
.header .btn button{
    font-size: 600;
    margin-left: 9px ;
    color: #1b3039;
    padding: 9px 25px;
    background-color: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s case 0s;
}

.header .btn button:hover{
    background-color: #e2f1f8;
    color: #ffbc0e;
    transform: scale(1.1);
}

.titulo h3{
    font-size: 30px;
}

.titulo{
    padding: 12px;
    justify-content: center;
}

@media (max-width:700px){
    .logo{
        margin-left: 43%;
        
    
    }
    .header{
        flex-direction: column;
        padding-bottom: 15px;

    }

    .titulo h3{
        font-size: 20px;
    }

  

    .header .btn button{
        font-size: 400;
        margin-left: 14px ;
        color: #1b3039;
        padding: 6px 12px;
        margin-top: 10px;
        background-color: #eceff1;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s case 0s;
    }
    
}




footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    
    
}

.pie-pagina{
    width: 100%;
    background-color: #0a141d;


}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: 5px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:40px;
    padding: 12px 2px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 180px;
    transition: all 0.1s;
    max-width: 150px; /* Ajusta el tamaño máximo de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    margin: 0 auto; /* Centra horizontalmente la imagen */
}

.logo2:hover{
    transform: scale(1.1);
}


.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;

}


.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
    transform: scale(1.2);
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}

.info{
    transition: 0.2s;
    text-decoration: none;
    color: #ffff;
}

.info:hover{
    transform: scale(5.2);
    color: red;
    
}



@media (max-width:900px){

    .pie-pagina .grupo-1{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display:grid;
        display:flex;
        flex-direction: column;
        
    }
    .pie-pagina .grupo-1{
        width: 100%;
        text-align: center;
        padding: 10px;
        bottom: 0;
        background-color: #0a141d;
        left: 0;
    }

    .pie-pagina .grupo-1 .box figure img{
        width: 100px;
        transition: all 0.1s;
    }

    .pie-pagina .grupo-1 .red-social a{
        display: inline-block;
        text-decoration: none;
        width: 45px;
        height: 45px;
        line-height: 45px;
        color: #fff;
        margin-right: 10px;
        background-color: #0d2033;
        text-align: center;
        transition: all 300ms ease;
       
    
    }



}
.banner{
    height: 500px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat:no-repeat;
    background-size:cover;

}



.banner::before
{
  content: "";
  height: 100%;
  width: 5000%;
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  opacity: 0.8;
  background-size: cover;
  width: 100%;
}



.banner__info
{
  padding: 0.3em;
  position: absolute;
  width: 100%;
  max-width: 700px;
  text-align: center;
  color:#000;
  margin: auto;

}

.banner_tittle
{
  line-height: 1.5;
  font-size: 2rem;
  font-family: cursive;

}

.banner__p
{
  line-height: 2;
  font-size: 0.9em;
  font-family: cursive;
  padding: 10%;
  color: white;

}


@media (max-width:700px){
    .banner{
        height: 250px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-repeat:no-repeat;
        background-size:cover;
    
    }
}





.palabras-seccion
{
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 5px;
}

.parrafo-seccion
{
  text-align: justify;
  color: darkred;
  font-family: fantasy;
  font-weight: 300;
  margin-bottom: 15px;
  font-size: 18px;
}


section
{
  display: flex;
  height: 550px;
  justify-content: space-evenly;
  padding: 0 40px;
  align-items: center;
}

.imagenes-secction{
  height: 730px;
  width: 150px;
  
  text-align: center;
}


.alinear
{
  text-align: center;
  
}

.colorb
{
  color: #fff;
}

@media(max-width:700px){
    .palabras-seccion
    {
        font-size: 20px;
        font-weight: 900;
        margin-bottom: 5px;
    }
    .parrafo-seccion
    {
        size: 20px;
        color: darkred;
        font-family: fantasy;
        font-weight: 300;
        margin-bottom: 15px;
        font-size: 14px;

    }

}
/*para darle color a algo especifico*/

.section-1
{
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  display: flex;
  justify-content: space-between
}

.section-1 img{
    margin-left: 10%;
    height: 240px;
    width: 240px;
}
.section-2
{
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);;
}

.section-2 img{
    margin-left: 10%;
    height: 250px;
    width: 250px;
}

.section-3
{
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);;
}

.section-3 img{
    margin-left: 10%;
    height: 250px;
    width: 250px;
}

@media(max-width:700px){
    .section-1{
        background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
        display: flex;
        justify-content: space-between
    }



    .section-1 img{
        height: 125px;
        width: 125px;
        margin-left: 12%;
    }

    .section-2 img{
        height: 125px;
        width: 125px;
        margin-left: 12%;
    }
    
    .section-3 img{
        height: 125px;
        width: 125px;
        margin-left: 12%;
    }
}


div table tbody tr .boton1{
    border-radius: 12px; 
    background-color:#00FFFF;
    text-decoration: none;
    height:40px;
    text-decoration: none;
    margin-left: 11px;
    margin-right: 11px;

    font-size: 400;
    margin-left: 14px ;
    text-decoration: none;
    padding: 6px 12px;
    margin-top: 10px;
    
    border: none;
    border-radius: 50px;
}


div table tbody tr .boton1 a{

    text-decoration: none;
    

}

div table tbody tr .boton2{
    border-radius: 12px; 
    background-color: #FF0000 ;
    height:40px;
    text-decoration: none;
    margin-left: 11px;
    margin-right: 11px;

    font-size: 400;
    margin-left: 14px ;
    text-decoration: none;
    padding: 6px 12px;
    margin-top: 10px;
    
    border: none;
    border-radius: 50px;
}

div table tbody tr .boton2 a{

    text-decoration: none;
    color: white
    ;

}

.agregar{

    text-decoration: none;

}

.zeus{
    width: 50px;
    height: 100px;
}


* {
    margin: 0;
    padding: 0;
    font-family: lato;
}

.slider-frame {
	width: 500px;
    height: auto;
	margin:50px auto 0;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 5s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}



.swiper-container {
    width: 100%;
    max-width: 600px; 
    margin: 0 auto;
}


.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-image img {
    max-width: 1%;
    height: auto;
    margin-bottom: 10px;
}

.product-details h3 {
    font-size: 18px;
    margin: 0;
}

.price {
    font-size: 20px;
    font-weight: bold;
    color: #007bff;
    margin-top: 10px;
}

