<!DOCTYPE html>
<html lang="es">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/Styles.css' %}" type="text/css">
    <link rel="stylesheet" href="'{% static 'css/bootstrap.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" type="text/css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
   
    <title>CRUD</title>
</head>
<body>
    <header class="header">
        <div class="logo">
          <img src="{% static 'img/nvdrstore.png'%}" alt="logo de la marca">
        </div>
        <form class="form">
          <button>
            <svg width="17" height="16" fill="none" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="search">
              <path d="M7.667 12.667A5.333 5.333 0 107.667 2a5.333 5.333 0 000 10.667zM14.334 14l-2.9-2.9"
                stroke="currentColor" stroke-width="1.333" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </button>
          <input class="input" placeholder="Type your text" required="" type="text">
          <button class="reset" type="reset">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"
              stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
          </button>
        </form>
        <nav class="nav-links">
          <ul>
            <li><a href="#">Servicios</a></li>
            <li><a href="{% url 'dana' %}">Cartas</a></li>
            <li><a href="#">Accesorios</a></li>
            <li><a href="{% url 'eventos' %}">Eventos</a></li>
    
          </ul>
        </nav>
        {% if user.is_authenticated %}
          {% if user.foto %}
              <a href="{% url 'infoU' %}" class="circulo-container">
                <img class="circulo" src="{{user.foto.url}}" alt="Imagen de la persona" height="80px">
              </a>
          {% else %}
          <a href="{% url 'infoU' %}" class="circulo-container">
              <img class="circulo" src="{% static 'img/SinFotoDePerfil.jpg'%}" alt="Imagen de la persona" height="80px">
            </a>
          {% endif %}
          
        {% else %}
            <a href="{% url 'login' %}" class="btn"><button>Iniciar Sesion</button></a>
        {% endif %}
    
    
      </header>
    <br>
    

    <div class="container"  style="margin: 12px 12px;">
        <div class="row">
          <div class="col-md-12 search">
            <form method="get">
                <div id="custom-search-input">
                  <div class="input-group col-md-12">
                    <input type="text" class="form-control" placeholder="Buscar..." name="buscar" value = "{{ request.GET.buscar }}">
                    <span class="input-group-list">
                      <i class="icon icon-search"></i>
                      <button type="submit" class="boton btn-success">Buscar</button>
                    </span>
                  </div>
                </div>
            </form>
          </div>
        </div>
    </div>

    <br>
    <div class="container"  style="margin: 12px 12px;">
        <div class="row">
            <div class="col-md-12 search">
                <form method="get">
                    <div id="custom-search-input">
                      <div class="input-group col-md-12">
                        <select name="categoria">
                          <option value="">Todas las categorías</option>
                          {% for categoria in categorias %}
                            <option value="{{ categoria.id_Categoria }}">{{ categoria.nombre_Categoria }}</option>
                          {% endfor %}
                        </select>

                        
                        <input type="number" name="precio_min" placeholder="Precio mínimo">
                        <input type="number" name="precio_max" placeholder="Precio máximo">
                        <span class="input-group-list">
                          <i class="icon icon-search"></i>
                          <button type="submit" class="boton btn-success">Filtrar</button>
                        </span>
                      </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br>
    <br>

  


    
    <div class="row" style="margin: 12px 12px;">
        <table border="2">
            <thead>
                <tr>
                    <th >id Producto</th>
                    <th>nombre Producto</th>
                    <th >Imagen</th>
                    <th >Categoria</th>
                    <th >Tipo</th>
                    <th>Modificar</th>
                </tr>
            </thead>

            {% for ve in producto %}
            
            <tbody>
                <tr >
                    
                    <td>{{ve.id_Producto}}</td>
                    <td>{{ve.nombre_P}}</td>
                    <td><img src="{{ve.imagen.url}}" alt="" WIDTH="70"  HEIGHT="70"></td>
                    <td>{{ve.id_Categoria}}</td>
                    <td>{{ve.id_Tipo}}</td>
                    <td>
                        <button class="boton1"><a href="{% url 'modificar' ve.id_Producto %}">Modificar</a></button>
                        <button class="boton2"><a href="{% url 'eliminar' ve.id_Producto %}">Eliminar</a>
                    </td>
                    
                   
                </tr>
            </tbody>
            
            {% endfor %}
            
            

        </table>

    </div>
    <br>
    <div>
        <button><a href="{% url 'productform' %}" style="text-decoration: none;">Agregar</a></button>  
        <button><a href="{% url 'VerCompras' %}" style="text-decoration: none;">Modificar Compras</a></button>
        <button><a href="{% url 'VerEventos' %}" style="text-decoration: none;">Modificar Evento</a></button>
          
    </div>
    
    <br>
    <br>
    
   
   








    <footer class="pie-pagina">
        <div class="grupo-1">
          <div class="box">
            <figure>
              <a href="{% url 'index'%}">
                <img src="{% static 'img/nvdrstore.png'%}" class="logo2" alt="Logo de SLee Dw">
              </a>
      
            </figure>
      
          </div>
          <div class="box">
            <h2>SOBRE NOSOTROS</h2>
            <p><a href="{% url 'info'%}" class="info">Quiénes somos?</a></p>
            <p><a href="{% url 'info'%}" class="info">Nuestra Misión</a></p>
            <p><a href="{% url 'info'%}" class="info">Objetivos</a></p>
      
          </div>
          <div class="box">
            <h2>Síguenos</h2>
            <div class="red-social">
              <a href="#" class="fa fa-facebook"><i class='bx bxl-facebook-circle'></i></a>
              <a href="#" class="fa fa-instagram"><i class='bx bxl-instagram'></i></a>
              <a href="#" class="fa fa-twitter"><i class='bx bxl-whatsapp'></i></i></a>
              <a href="#" class="fa fa-youtube"><i class='bx bx-envelope'></i></a>
            </div>
          </div>
        </div>
        <div class="grupo-2">
          <small>&copy; 2023 <b>NVDR</b> - Todos los Derechos Reservados.</small>
        </div>
      </footer>
</body>
</html>